In [36]:
#a
import numpy as np
import pandas as pd
df = pd.read_excel('AirQualityUCI.xlsx')
print(df.shape)
df.head(10)

(9357, 15)

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10,18:00:00,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.600,48.875001,0.757754
1,2004-03-10,19:00:00,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.300,47.700000,0.725487
2,2004-03-10,20:00:00,2.2,1402.00,88,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.900,53.975000,0.750239
3,2004-03-10,21:00:00,2.2,1375.50,80,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.000,60.000000,0.786713
4,2004-03-10,22:00:00,1.6,1272.25,51,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.150,59.575001,0.788794
5,2004-03-10,23:00:00,1.2,1197.00,38,4.741012,750.25,89.0,1336.50,96.0,1393.00,949.25,11.175,59.175000,0.784772
6,2004-03-11,00:00:00,1.2,1185.00,31,3.624399,689.50,62.0,1461.75,77.0,1332.75,732.50,11.325,56.775000,0.760312
7,2004-03-11,01:00:00,1.0,1136.25,31,3.326677,672.00,62.0,1453.25,76.0,1332.75,729.50,10.675,60.000000,0.770238
8,2004-03-11,02:00:00,0.9,1094.00,24,2.339416,608.50,45.0,1579.00,60.0,1276.00,619.50,10.650,59.674999,0.764819
9,2004-03-11,03:00:00,0.6,1009.75,19,1.696658,560.75,-200.0,1705.00,-200.0,1234.75,501.25,10.250,60.200001,0.751657

In [37]:
df.dropna(inplace=True)
df.drop('Time', axis=1, inplace=True)
df.drop('Date', axis=1, inplace=True)
print(df.shape)

(9357, 13)

In [38]:
df.describe()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
count,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000
mean,-34.207524,1048.869652,-159.090093,1.865576,894.475963,168.604200,794.872333,58.135898,1391.363266,974.951534,9.776600,39.483611,-6.837604
std,77.657170,329.817015,139.789093,41.380154,342.315902,257.424561,321.977031,126.931428,467.192382,456.922728,43.203438,51.215645,38.976670
min,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000
25%,0.600000,921.000000,-200.000000,4.004958,711.000000,50.000000,637.000000,53.000000,1184.750000,699.750000,10.950000,34.050000,0.692275
50%,1.500000,1052.500000,-200.000000,7.886653,894.500000,141.000000,794.250000,96.000000,1445.500000,942.000000,17.200000,48.550000,0.976823
75%,2.600000,1221.250000,-200.000000,13.636091,1104.750000,284.200000,960.250000,133.000000,1662.000000,1255.250000,24.075000,61.875000,1.296223
max,11.900000,2039.750000,1189.000000,63.741476,2214.000000,1479.000000,2682.750000,339.700000,2775.000000,2522.750000,44.600000,88.725000,2.231036

In [39]:
yp = df.iloc[:, 1]
df.drop('PT08.S1(CO)', axis=1, inplace=True)
Xp = df.iloc[:, :]

In [40]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(Xp)
y = scaler.fit_transform(yp.to_frame())

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_test)

[[ 0.45725876 -0.29267014  0.10989759 ...  0.37437449 -0.0904774
   0.20496752]
 [-2.1350422  -0.29267014  0.0743467  ...  0.30666793  0.20290566
   0.21097125]
 [ 0.4739999  -0.29267014  0.30895945 ...  0.35469908 -0.14124586
   0.20143072]
 ...
 [ 0.45339542 -0.29267014  0.08087125 ...  0.40215153  0.17019906
   0.21924787]
 [ 0.47142434 -0.29267014  0.23842855 ...  0.30840399 -0.32674597
   0.19171879]
 [-2.1350422  -0.29267014  0.17935534 ...  0.22275807  0.59782563
   0.21552985]]

In [42]:
print(X_train[0])

[ 0.48430214 -0.29267014 -4.87857933 -3.19743969 -1.43196864 -3.09005116
 -2.03377286 -3.40640895 -2.57158213 -4.85581291 -4.67623536 -4.95611139]

In [19]:
testAlpha = [0.001, 0.002, 0.005, 0.008, 0.01, 0.1, 0.2, 0.3, 0.5, 0.8, 1, 10, 100, 500, 1000]

In [21]:
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Ridge
best_rmse_ridge = float('inf')
best_alpha_ridge = None
for alpha in testAlpha:
    model_ridge = Ridge(alpha=alpha)
    model_ridge.fit(X_train, y_train)
    y_pred_val_ridge = model_ridge.predict(X_test)
    rmse_ridge = mean_squared_error(y_test, y_pred_val_ridge, squared=False)
    if rmse_ridge < best_rmse_ridge:
        best_rmse_ridge = rmse_ridge
        best_alpha_ridge = alpha
print("best_rmse_ridge: {}, best_alpha_ridge = {}".format(best_rmse_ridge, best_alpha_ridge))

best_rmse_ridge: 0.2174932814811961, best_alpha_ridge = 0.001

In [22]:
from sklearn.linear_model import Lasso
best_rmse_lasso = float('inf')
best_alpha_lasso = None
for alpha in testAlpha:
    model_lasso = Lasso(alpha=alpha)
    model_lasso.fit(X_train, y_train)
    y_pred_val_lasso = model_lasso.predict(X_test)
    rmse_lasso = mean_squared_error(y_test, y_pred_val_lasso, squared=False)
    if rmse_lasso < best_rmse_lasso:
        best_rmse_lasso = rmse_lasso
        best_alpha_lasso = alpha
print("best_rmse_lasso: {}, best_alpha_lasso = {}".format(best_rmse_lasso, best_alpha_lasso))

best_rmse_lasso: 0.21902978101968842, best_alpha_lasso = 0.001

In [24]:
l1_ratios = [0.1, 0.3, 0.5, 0.7, 0.9]

In [29]:
from sklearn.linear_model import ElasticNet
best_rmse_elastic = float('inf')
best_alpha_elastic = None
best_l1_ratio_elastic = None
for alpha in testAlpha:
    for l1_ratio in l1_ratios:
        model_elastic = ElasticNet(alpha=alpha, l1_ratio=l1_ratio, tol=0.001)
        model_elastic.fit(X_train, y_train)
        y_pred_val_elastic = model_elastic.predict(X_test)
        rmse_elastic = mean_squared_error(y_test, y_pred_val_elastic, squared=False)
        if rmse_elastic < best_rmse_elastic:
            best_rmse_elastic = rmse_elastic
            best_alpha_elastic = alpha
            best_l1_ratio_elastic = l1_ratio
print("best_rmse_elastic: {}, best_alpha_elastic = {}, best_l1_ratio_elastic = {}".format(best_rmse_elastic, best_alpha_elastic, best_l1_ratio_elastic))

best_rmse_elastic: 0.21811478461462208, best_alpha_elastic = 0.001, best_l1_ratio_elastic = 0.1

In [32]:
model_ridge_final = Ridge(alpha=best_alpha_ridge)
model_ridge_final.fit(X_train, y_train)
print("model_ridge_final.fit complete.")
model_lasso_final = Lasso(alpha=best_alpha_lasso)
model_lasso_final.fit(X_train, y_train)
print("model_lasso_final.fit complete.")
model_elastic_final = ElasticNet(alpha=best_alpha_elastic, l1_ratio=best_l1_ratio_elastic, tol=0.001)
model_elastic_final.fit(X_train, y_train)
print("model_elastic_final.fit complete.")

model_ridge_final.fit complete.
model_lasso_final.fit complete.
model_elastic_final.fit complete.

In [34]:
y_pred_test_ridge = model_ridge_final.predict(X_test)
rmse_ridge_test = mean_squared_error(y_test, y_pred_test_ridge, squared=False)
r2_ridge_test = model_ridge_final.score(X_test, y_test)

y_pred_test_lasso = model_lasso_final.predict(X_test)
rmse_lasso_test = mean_squared_error(y_test, y_pred_test_lasso, squared=False)
r2_lasso_test = model_lasso_final.score(X_test, y_test)

y_pred_test_elastic = model_elastic_final.predict(X_test)
rmse_elastic_test = mean_squared_error(y_test, y_pred_test_elastic, squared=False)
r2_elastic_test = model_elastic_final.score(X_test, y_test)

print("Ridge Regression: RMSE = {:.2f}, R2 = {:.2f}".format(rmse_ridge_test, r2_ridge_test))
print("Lasso Regression: RMSE = {:.2f}, R2 = {:.2f}".format(rmse_lasso_test, r2_lasso_test))
print("Elastic Net Regression: RMSE = {:.2f}, R2 = {:.2f}".format(rmse_elastic_test, r2_elastic_test))

Ridge Regression: RMSE = 0.22, R2 = 0.95
Lasso Regression: RMSE = 0.22, R2 = 0.95
Elastic Net Regression: RMSE = 0.22, R2 = 0.95